*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Rubik-Medium;
    src: url(../fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}

.container{
    width: 1180px;
    margin: 0 auto;
    margin-top: 32px;;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: white;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo_p{
    font-family: Rubik-Medium;
font-size: 20px;
color: #333333;
margin-left: 11.88px;
}
.header__search{
    width: 320px;
    height: 25px;
    border: none;
    font-family: Rubik-Medium;
    border-bottom: 1px #333333 solid;
}
.header__search::placeholder{
color: #828282;
}
.header__search:focus{
outline: none;
font-family: Rubik-Medium;
}
.header__search_btn{
    background: none;
    border: none;
    font-family: Rubik-Medium;
    color: #e5261e;
   font-size: 16px;
   margin-left: 32px;
}
.header__search_enter{
    width: 113px;
    height: 38px;
    border-radius: 4px;
    font-family: Rubik-Medium;
    color: #FFFFFF;
    border: none;
    background-color: red;
    font-size: 16px;
}
.header__search_enter:hover{
    background-color: #cc2218;
}
.nav{
margin: 44px auto 32px auto;
width: 311px;
display: flex;
justify-content: space-between; 
height: 42px;  
}
.nav__a{
    text-decoration: none;
    font-family: Rubik-Medium;
    font-size: 28px;
    color: #333333;
}
.nav__a:hover{
    color: #e5261e;
    border-bottom: 2px solid #e5261e;
    padding-bottom: 9px;
}
.channels__item{
    width: 1180px;
    height: 162px;
    background-color: #F2F2F2;
    display: flex;
    margin-bottom: 16px;
}
.channels__logo{
    width: 114px;
    height: 65px;
    margin:48px 143px 49px 143px;
    display: flex;
    align-items: center;
   justify-content: center;
}
.channels__name{
    font-family: Rubik-Medium;
font-size: 20px;
color: #333333;
margin: 21px 500px 17px 0px;
}
.now{
    color: #e5261e;
    margin-bottom: 12px;
    display: flex;
}
.later{
    color:#333333;
     margin-bottom: 12px;
     display: flex;
}
.channels__programs_name{
    font-family: Rubik-Regular;
font-size: 16px;
}
.channels__programs_time{
    font-family: Rubik-Regular;
    font-size: 16px; 
    margin-right: 16px;
}
.channels__programs{
     flex-direction: column;
}
.scroll {
       height: 696px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    scrollbar-width: thin;
    scrollbar-color: #BDBDBD #F2F2F2;

}
.scroll::-webkit-scrollbar {
    width: 8px;
}
.scroll::-webkit-scrollbar-track {
    background: #F2F2F2;
    border-radius: 2px;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    border-radius: 2px;
    border: 2px solid #F2F2F2;
}

.footer{
    margin-top: 72px;
    background-color: #F2F2F2;
    height: 120px;
  width: auto;
}
.footer__container{
    display: flex;
    padding-top:22px ;
      width: auto;
}
.footer__info{
    margin-left:39.98px ;
}
.footer__p{
    font-family: Rubik-Regular;
    font-size: 16px;
    color: #333333;
}
.footer__a{
    font-family:Rubik-Medium ;
    font-size: 16px;
    color: #1F4766;
}
.footer__p:nth-child(2){
    margin-top: 6px;
    margin-bottom: 10px;
}
@media screen and (max-width: 390px){
    .container{
        width: 390px;
    }
    .header{
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
       
    }
    .header__search{
        display: flex;
    }
    .form{
        display: flex;
        flex-direction: column;
       
    }
    .header__search_btn{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
    .channels__item{
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 390px;
        height: 250px;
    }
    .channels__logo{
         display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .channels__name{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        text-align: center;
        margin-top: 0;margin-bottom: 0;
    }
    .now{
        
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .later{
        
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer{
        height: 150px;
    }
    .footer__img{
        height: 100px;
    }
}